{% extends 'base.html' %}

{% block title %}
Bibliotheca Parva
{% endblock title %}

{% block body %}

<div class="flex justify-between">
    <div>
        <input
            class="border border-slate-500 shadow-inner rounded-full w-80 text-xs p-2 m-1"
            type="search"
            name="query"
            placeholder="Search"
            hx-get="/search"
            hx-trigger="keyup changed delay:100ms, search"
            hx-target="#search-results"
        />
    </div>

    <form method="post">
        {% csrf_token %}
        <input
            class="border border-slate-500 shadow-inner rounded-full text-xs p-2 m-1"
            name="isbn"
            placeholder="ISBN"
        />
        <input
            class="border border-slate-500 bg-sky-600 text-white shadow-md p-2 m-1 font-sans font-bold text-xs uppercase rounded-full cursor-pointer"
            type="submit"
            value="Add"
        >
        {{ form.isbn.errors }}
    </form>
</div>

<table class="table-fixed text-xs border border-slate-500 mt-5 w-full shadow-md">
    <thead class="font-sans">
        <tr class="bg-sky-600 text-white">
            <th class="w-2/12 p-2 border border-slate-300">
                ISBN
            </th>
            <th class="w-4/12 p-2 border border-slate-300">
                Title
            </th>
            <th class="w-4/12 p-2 border border-slate-300">
                Contributors
            </th>
            <th class="w-1/12 p-2 border border-slate-300">
                Language
            </th>
            <th class="w-1/12 p-2 border border-slate-300">
                Location
            </th>
            <th class="w-1/12 p-2 border border-slate-300"/>
        </tr>
    </thead>
    <tbody id="search-results" hx-trigger="load" hx-get="/search">
    </tbody>
</table>

{% endblock body %}
